---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Warning from "../../components/Warning.astro"
import Example from "../../components/Example.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
---
<Layout title = "Hydrostatic fluid pressure" description = "Analyze how density, gravity, and height affect the forces and moments applied to submerged objects.">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#fluid_pressure'>Fluid pressure</a></li> 
		  <li class = 'list-group-item py-0'><a class = 'text-decoration-none subsection' href = '#fluid_pressure_FBD'>Pressure, distributed loads, and free body diagrams</a></li>
		  <li class = 'list-group-item py-0'><a class = 'text-decoration-none subsection' href = '#fluid_pressure_scs'>Fluid pressure with slanted and curved surfaces</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#buoyancy'>Buoyancy</a></li>
      </ul>
      </div>
<Section title="Hydrostatic fluid pressure" id="hydrostatic_fluid_pressure">

<!-- Lecture 30, 31, 32 -->
<p> <strong>Pascal's Law:</strong> A fluid at rest creates a pressure that is the same in all directions. 
</p>

<p><strong>Hydrostatic Fluid Pressure:</strong> Hydrostatic fluid pressure refers to the pressure from a fluid that is at rest (the "static" part of hydrostatic). It orginates from the force of gravity acting on the fluid. 
</p>

</Section>

<SubSection title="Fluid pressure" id="fluid_pressure">

For an incompressible fluid (density <InlineEquation equation='\\rho' />) at rest, the pressure <InlineEquation equation='P' /> varies linearly with fluid depth <InlineEquation equation='z' />. This means that the pressure along a horizontal plane (at a certain depth <InlineEquation equation='z' />) is constant.

<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/HydrostaticPressure.jpg' width='4'> Derivation of the variation of pressure  <InlineEquation equation='P(z)' />  with respect to the fluid depth <InlineEquation equation='z' /> </Image>



    <DisplayEquation equation="P(z) = \\rho \\ g \\ z" background="True" title="The fluid pressure P(z) can be written as"   id="hfp-eq" derivation="True">
            <p>
                Ignoring air pressure:
				<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/FluidDerivation.jpg' width='4'> </Image>
                <DisplayEquation equation="\\begin{aligned} \\sum{F_y} &amp;= 0  \\\\ P(z)A - W &amp;= 0   \\\\   P(z)A - (\\rho \\ A \\ z) \\ g &amp;=  0 \\\\   P(z)  &amp;= \\rho \\ g \\ z          \\end{aligned}"/>
                
			 </p>
    </DisplayEquation>




<Warning title="Don't confuse pressure with force!" id="force-pressure">
    <p>
      Pressure is a force distributed over an area (force per area) and therefore has units of Pascals (Pa). To calculate the resultant force from hydrostatic fluid pressure, you must use  
    </p>

	<DisplayEquation equation="F_R = P \\ A"/>

	<p> where <InlineEquation equation=" A " /> is the area that the force is applied over. 
	</p>	
	
</Warning>

</SubSection>
		


<SubSection title="Pressure, distributed loads, and free body diagrams" id="fluid_pressure_FBD">

<CalloutContainer slot = "cards">
	<CalloutCard title = "Review?">
		<p>
			Hydrostatic fluid pessure is a type of distributed load. If you need a refresher on distributed loads, see the <a href = "/sta/force_systems/?origin=sidebar#distributed_loads">distributed loads reference page</a>. 
		</p>
	</CalloutCard>
</CalloutContainer>

<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/FluidPlateExample.PNG' width='5'></Image>

<p>
Given a plate submerged in water, we can choose to draw the FBD of the plate in 2D or 3D:
</p>

<p>
In 3D, the value for <InlineEquation equation=" w " />, the distributed load on the plate from the fluid, is just the pressure <InlineEquation equation=" P " /> at depth <InlineEquation equation=" h " />. To solve for the resultant force from the distributed load we multiply by the area of the plate. 
</p>

<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/Fluid3DPlate.PNG' width='5'></Image>

<DisplayEquation equation = "F_R = \\rho \\ g \\ h \\ b \\ L" title = "In 3D, the resultant force from the distributed load can be written as" background = "True" derivation = "True" id = "hfp-3D">
	<DisplayEquation equation = "\\begin{align} w = P = \\rho \\ g \\ h && \\mathrm{[\\frac{N}{m^2}]} \\end{align}"/>
	<p class = "text-center">
		(force over area)<br>
		To find <InlineEquation equation = "F_R,"/> multiply by area:
	</p>
	<DisplayEquation equation = `\\begin{align} F_R &= w \\ (b \\ L) \\Leftarrow \\text{volume under distributed load!} \\\\
		&= \\rho \\ g \\ h \\ b \\ L \\end{align}`/>
</DisplayEquation>

<p>
In 2D, the the value for <InlineEquation equation=" w " />, the distributed load on the plate from the fluid, is the pressure <InlineEquation equation=" P " /> at depth <InlineEquation equation=" h " /> <strong> multiplied by the plate depth <InlineEquation equation=" b " />. </strong> To solve for the resultant force from the distributed load we multiply by the length of the plate.
</p>

<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/Fluid2DPlate.PNG' width='5'></Image>

<DisplayEquation equation = "F_R = \\rho \\ g \\ h \\ b \\ L" title = "In 2D, the resultant force from the distributed load can be written as" background = "True" derivation = "True" id = "hfp-2D">
	<DisplayEquation equation = "\\begin{align} w = P \\ b = \\rho \\ g \\ h \\ b && \\mathrm{[\\frac{N}{m^2}] \\ [m] = [\\frac{N}{m}]} \\end{align}"/></span></div>
	<p class = "text-center">
		(force over length)<br>
		To find <InlineEquation equation = "F_R,"/> multiply by length:
	</p>
	<DisplayEquation equation = `\\begin{align} F_R = w &\\ L = \\rho \\ g \\ h \\ b \\ L \\\\
		&\\Uparrow \\text{area under distributed load!} \\end{align}`/>
</DisplayEquation>

</SubSection>

<SubSection title="Fluid pressure with slanted and curved surfaces" id="fluid_pressure_scs">

<p> We will often be required to analyze the hydrostatic fluid pressure on surfaces that are not perfectly horizontal or vertical. In these cases, it is easier to redraw our system and create articifial horizontal and vertical "surfaces", adding the force from the FBD of the weight of the water trapped in our horizontal and vertical surfaces. 
</p>

<p> This method will result in the same resultant force on the slanted surface, but the distributed loads are easier to calculate. 
</p>

<p> Using this method, we can solve for the resultant force by calculating the total horizontal forces (<InlineEquation equation=" F_H " />) and vertical forces (<InlineEquation equation=" F_V " />) and relating them using </p>

<DisplayEquation equation="F_R = \\sqrt{{F_H}^2+{F_V}^2}" title="Resultant force from fluid pressure" background="True" id="res-force">
</DisplayEquation>

<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/SlantedCurveSurf.png' width='7'> </Image>

<Example title="Resultant force on a curved plate"  id="fluid-curved" solution="True">

Find the magnitude of the resultant force from the fluid on the curved surface AB (thickness <InlineEquation equation=" t" /> of the surface <InlineEquation equation="= 2 \\ m " />). 
Density of <InlineEquation equation=" \\text{water}  = 1000 \\ kg / m^3" />

<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/CurvedPlateEx.PNG' width='4'> </Image>

<div slot="solution">

<ol>
	<li> First, we will draw a FBD of the curved surface 
		<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/CurvedPlateSol1.PNG' width='2'> </Image>
	</li>
	<li> This is complicated! Let's split into horizontal and vertical forces and look at the free body diagram of the water: 
		<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/CurvedPlateSol2.png' width='6'> </Image>
	</li>
	<li> Solve for <InlineEquation equation=" F_{R1} " /> and <InlineEquation equation=" F_{R2} " /> 
		<DisplayEquation equation=" \\begin{aligned}   w_1 &amp;= P_1 \\ t  = \\rho \\ g \\ h_1 \\ t  \\\\     w_2 &amp;= P_2 \\ t  = \\rho \\ g \\ h_2 \\ t   \\\\   F_{R1} &amp;= w_1 \\ R  = \\rho \\ g \\ h_1 \\ t  \\ R   \\end{aligned}"  />
		<p> To solve for <InlineEquation equation=" F_{R2} " />, split the horizontal distributed load into a rectangle and a triangle: </p>
		<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/CurvedPlateSol4.PNG' width='6'> </Image>
		<DisplayEquation equation=" \\begin{aligned}  F_{triangle} &amp;= \\frac{1}{2} (w_2  - w_1) (R)   \\\\  &amp;= \\frac{1}{2} \\rho \\ g \\ (h_2  - h_1) \\ t \\ R   \\\\  F_{rectangle}  &amp;=  w_1 \\ R  =  \\rho \\ g \\ h_1 \\ t  \\ R   \\end{aligned}"  />
		<DisplayEquation equation=" \\begin{aligned}  F_{R2}  &amp;= F_{triangle} +  F_{rectangle}  \\\\   &amp;= \\frac{1}{2} \\rho \\ g \\ (h_2  - h_1) \\ t \\  + \\rho \\ g \\ h_1 \\ t  \\ R   \\\\   &amp;= \\rho \\ g  \\ t  \\ R \\ [\\frac{1}{2} \\ (h_2  - h_1) + h_1]   \\\\ &amp;= \\rho \\ g  \\ t  \\ R \\ [\\frac{1}{2} \\ h_2  +  \\frac{1}{2} \\ h_1 ]  \\\\  &amp;= \\frac{1}{2} \\rho \\ g  \\ t  \\ R \\ (h_2  +  h_1)  \\end{aligned}"  />
	</li>
	<li> Solve for weight of water <InlineEquation equation=" W" /> 
		<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/CurvedPlateSol3.PNG' width='2'> </Image>
		<DisplayEquation equation=" \\begin{aligned}  W &amp;=  m \\ g = \\rho \\ V \\ g  \\\\   V  &amp;= \\text{volume of water} = \\frac{1}{4} \\pi \\ R^2 \\ (t)  \\\\  W  &amp;= \\rho \\frac{1}{4} \\pi \\ R^2 \\ t \\ g \\end{aligned}" />
	</li>
	<li> Solve for <InlineEquation equation=" F_{H} " /> and <InlineEquation equation=" F_{V} " /> 
		<DisplayEquation equation=" \\begin{aligned}  F_H &amp;= F_{R2} \\\\ &amp;= \\frac{1}{2} \\rho \\ g \\ t \\ R \\ (h_2 + h_1)  \\\\   &amp;=  \\frac{1}{2} (1000 \\ kg/m^2) \\ (9.81 \\ m/s^2) \\ (2 \\ m) \\ (3 \\ m) \\ (1.5 + 4.5 \\ m)  \\\\  &amp;= 177 \\ kN   \\end{aligned}" />
		<DisplayEquation equation=" \\begin{aligned}  F_V &amp;= W + F_{R1} \\\\ &amp;= \\frac{1}{4} \\rho \\pi \\ R^2 \\ t \\ g + \\rho \\ g \\ h_1 \\ t \\ R  = \\rho \\ t \\ g \\ R (\\frac{1}{4} \\pi \\ R +  h_1)  \\\\   &amp;= 1000 \\ kg/m^3 \\ (2 \\ m) \\ (9.81 \\ m/s^2) \\ (3 \\ m) [ \\frac{1}{4} \\pi \\ (3 \\ m) + 1.5 \\ m ]  \\\\ &amp;= 58,860 \\cdot 3.856  \\\\   &amp;= 227 \\ kN  \\end{aligned}" />
	</li>
	<li> Solve for <InlineEquation equation=" F_{R} " /> 
		<DisplayEquation equation=" \\begin{aligned} F_R  &amp;= \\sqrt{{F_H}^2 + {F_V}^2}  \\\\  &amp;=  \\sqrt{{(177 \\ kN)}^2 + {(227 \\ kN)}^2}  \\\\  &amp;=  288 \\ kN  \\end{aligned}"  />  
	</li>
</ol>


</div>

</Example>

</SubSection>

<SubSection title="Buoyancy" id="buoyancy">
<p>
<strong>Archimedes' Principle:</strong> Any object that is either partially or totally immersed in a fluid has a buoyant force <InlineEquation equation=" F_B " /> equal to the weight of the fluid displaced by the object (<InlineEquation equation=" W_{displaced} " />). 
</p>

<DisplayEquation equation="F_B = W_{displaced}" title="Buoyant Force" background="True" id="buoyant-f" derivation="True">

	<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/BuoyancyDerivation.jpg' width='4'> </Image>
	
	<p>
   	<center><InlineEquation equation="\\sum F_x :"/> horizontal forces cancel out. </center>
	</p>

	<DisplayEquation equation="\\begin{aligned}  \\sum F_y :  F_B  &amp;= F_{R_2} - F_{R_1}  \\\\    &amp;= w_2 \\ S  -  w_1 \\ S  \\\\   &amp;=  \\rho \\ g \\ h_2 \\ S^2 -  \\rho \\ g \\ h_1 \\ S^2   \\\\   &amp;=  \\rho \\ g \\ S^2 \\ (h_2  -  h_1)  \\\\ &amp;=  \\rho \\ g \\ S^3   \\\\  F_B  &amp;=  \\rho \\ g \\ V  = m \\ g  \\end{aligned} "/>

	<p> 
	In which <InlineEquation equation=" F_B " /> is the buoyance force and  <InlineEquation equation=" \\rho \\ g \\ V = m \\ g " /> is the weight of the volume of water displaced by the cube. 
	</p>

</DisplayEquation>

<Example title="Buoyant force of a basketball"  id="basketball">
	<p> What is the buoyant force on this basketball with radius <InlineEquation equation=" R " />?
	<Image src='/Intro_EM/sta/hydrostatic_fluid_pressure/Buoyancy.jpg' width='4'></Image>

	<div slot="solution">
	<p> We know that the buoyant force is equivalent to the weight of the water that was displaced by the basketball, or the weight of a sphere of water that is the same size as the basketball. </p>
	<DisplayEquation equation="\\begin{aligned}  F_B &amp;=  W   \\\\   &amp;= m_{water} \\ g \\\\  &amp;= \\rho_{water} \\ V_{displaced} \\ g    \\\\   &amp;= \\rho_{water} (\\frac{4}{3} \\pi R^3) \\ g  \\end{aligned}">
	</DisplayEquation>	
	</div>
</Example>


<!--Do we need to include anything else for buoyancy?
%Lecture 32-->

</SubSection>

</Layout>
